body {
  margin: 0;
  color: #404C51;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.container {
  font-family: "Arial Narrow", Helvetica;
}
