body {
  margin: 0;
  color: #404C51;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.container {
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.col-valor {
  width: 120px;
  text-align: right;
}

.col-data {
  width: 120px;
  text-align: center;
}

.col-acoes {
  width: 50px;
  text-align: center;

}
